@import "./crossword.theme";
.c-crossword {
    @include crossword-theme(
        //Cells with light:true
        $tc-clue:#000,
        //Cell clue with focus
        $bg-clue--active:#666,
        //Clue incorrect
        $tc-clue--incorrect:#fff,
        $bg-clue--incorrect:#D32F2F,
        //Clue correct
        $tc-clue--correct:#fff,
        $bg-clue--correct:#2E7D32,
        //Cells with light:true
        $br-clue:#999
    )
}